Repository NezirNezirevic1054620/test-correct_with_chatgpt, changes with the labels that .github/labeler.yml gives for each.
All labels: root, AnyChange, Documentation

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'AnyChange' label to any changes within the entire repository
AnyChange:
- changed-files:
  - any-glob-to-any-file: '**'

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
Documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

feature:
 - head-branch: ['^feature', 'feature']

refactor_code:
 - head-branch: ['^refactor', 'refactor']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

Format code with black
  models/test/test_category_model.py
  models/test/test_teacher_model.py
Labels: AnyChange

added pylint and line_length to workflows
  .github/workflows/code-format.yml
  .github/workflows/code-lint.yml
Labels: AnyChange

Format code with black
  controllers/category_controller.py
  controllers/note_controller.py
  controllers/question_controller.py
  forms/category_form.py
  forms/note_form.py
  forms/teacher_form.py
  lib/database/database_generator.py
  models/category_model.py
  models/note_model.py
  models/teacher_model.py
  models/test/test_note_model.py
Labels: AnyChange

made it so dashboard shows up to date data
  app.py
  templates/beheer.html.j2
Labels: root, AnyChange

Format code with black
  app.py
Labels: root, AnyChange

Update README.md
  README.md
Labels: root, AnyChange

fixed workflow
  .github/workflows/code-lint.yml
Labels: AnyChange

removed unused code and added more sampledata
  controllers/category_controller.py
  controllers/note_controller.py
  controllers/teacher_controller.py
  databases/testgpt.db
  templates/login.html.j2
Labels: AnyChange

Update README.md
  README.md
Labels: root, AnyChange

Delete views/__pycache__ directory
  views/__pycache__/category.cpython-311.pyc
  views/__pycache__/note.cpython-311.pyc
Labels: AnyChange

Delete controllers/__pycache__ directory
  controllers/__pycache__/categories_controller.cpython-311.pyc
  controllers/__pycache__/database_connector.cpython-311.pyc
  controllers/__pycache__/notes_controller.cpython-311.pyc
  controllers/__pycache__/teacher_controller.cpython-311.pyc
Labels: AnyChange

Update README.md
  README.md
Labels: root, AnyChange

added showcase images
  docs/images/admin.png
  docs/images/categorieen.png
  docs/images/login.png
  docs/images/notities.png
  docs/images/profiel.png
  docs/images/vraag_genereren.png
  docs/images/vragen.png
Labels: AnyChange, Documentation

Update README.md
  README.md
Labels: root, AnyChange

added new image
  docs/images/vraag.png
Labels: AnyChange, Documentation

Update README.md
  README.md
Labels: root, AnyChange

Created by OWASP Threat Dragon
  ThreatDragonModels/New Threat Model/New Threat Model.json
Labels: AnyChange

Updated by OWASP Threat Dragon
  ThreatDragonModels/New Threat Model/New Threat Model.json
Labels: AnyChange

Updated by OWASP Threat Dragon
  ThreatDragonModels/New Threat Model/New Threat Model.json
Labels: AnyChange
